body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./assets/img/pokebackgroud.jpeg') no-repeat center center fixed;
  background-position-y: 0;
  background-size: 102% 50%;
  overflow-x: hidden;

}
